*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  padding-top: 50px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;

}
.container-fluid{

margin-top: 20px;
margin-bottom: 20px;
}
footer{
  display: flex;
justify-content: space-evenly;
}